doctype
html
  head
    meta(charset='UTF-8')
    //- title변수는 page.js에서 rendering시점에 저의해서 넘겨준다.
    title= title
    meta(name='viewport' content='width=device-width, user-scalable=no')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(rel='stylesheet' href='/main.css')
  body
    //.xxx 는 class를 의미함. 현재 body에 다양한 class를 붙여준상태
    //pug는 두가지 특징이 있는데 먼저, 들여쓰기로 코드를 구분함.
    //만일 아무 태그없이 들여쓰기가 되어있느다면 이는 <div>태그가 생략된것임.
    //따라서 지금은 각 들여쓰기 단계마다 <div>가 나눠져있고 각 div마다 class 네임이 붙어있는 형태이다.
    .container
      .profile-wrap
        .profile
          if user && user.id
            //html 확인 필요
            .user-name= '안녕하세요! ' + user.nick + '님'
            .half
              div 팔로잉
              .count.following-count= user.Followings && user.Followings.length || 0
            .half
              div 팔로워
              .count.follower-count= user.Followers && user.Followers.length || 0
            input#my-id(type='hidden' value=user.id)
            a#my-profile.btn(href='/profile') 내 프로필
            a#logout.btn(href='/auth/logout') 로그아웃
          else
            //form태그, id는 login-form. action에 값을 지정하여 해당 위치로 submit해줌.
            form#login-form(action='/auth/login' method='post')
              //<div class="input-group"형태
              .input-group
                //labe은 다른태그와 묶여서 id값을 기반으로 label을 선택했을떄 해당 태그가 선택되도록함
                label(for='email') 이메일
                //id=email형태. 
                input#email(type='email' name='email' required autofocus)
              .input-group
                label(for='password') 비밀번호
                input#password(type='password' name='password' required)
              if loginError
                //로그인 에러를 id값으로 설정하기는 했지만 추가적인 내용은안써줌
                .error-message= loginError
              //a태그, class="join" id="btn"
              a#join.btn(href='/join') 회원가입
              //btn태그, class=login id=btn
              button#login.btn(type='submit') 로그인
              //a태그, class=kakao id=btn
              a#kakao.btn(href='/auth/kakao') 카카오톡
        footer
          | Made by&nbsp;
          a(href='https://www.zerocho.com' target='_blank') ZeroCho
      block content
